@model List<UserRegistrationViewModel>

<html>
    <head>
        <title></title>
    </head>
    <body>
        <h3 align="center">Index View</h3>
        <table class="table table-primary">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Email</td>
                    <td>FirstName</td>
                    <td>LastName</td>
                    <td>Gender</td>
                    <td>MobileNumber</td>
                    <td>Update</td>
                    <td>Delete</td>
                 </tr>
            </thead>

            <tbody>

                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Email</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Gender</td>
                        <td>@user.MobileNumber</td>
                    <td><a href="Home/Update/@user.Id">Edit</a></td>
                    <td><a href="Home/Delete/@user.Id">Delete</a></td>
                    </tr>
                }
             </tbody>

        </table>
        <a href="Home/Create/" class="btn btn-primary">Create</a>

    </body>
</html>

    